#container { width: 500px; background-color: #fff; margin: 30px auto; padding: 30px; border-radius: 5px; }
.green { font-weight: bold; color: green; }
.message { margin-bottom: 10px; }
label {width:70px; display:inline-block;}
input { display:inline-block; margin-right: 10px; }
form {line-height: 160%; }
.hide { display: none; }
.loginForm { margin-left: auto; margin-right: auto; width: 300px;}
.submit {margin-left: 190px; margin-right:auto; margin-top: 5px; border-radius: 1px;}
.error { font-size: 0.9em; font-weight: bold; color: #ac2925; width: 300px; margin-left: auto; margin-right: auto; text-align: center;}
.msg {font-size: 0.9em; font-weight: bold; color: #398439; width: 300px; margin-left: auto; margin-right: auto; text-align: center;}
.resendEmail {font-size: 0.75em; width: 150px; margin-left: auto; margin-right: auto; text-align: center;}
.resetPassword {font-size: 0.75em; width: 150px; margin-left: 75px;}
.content-container { height: 420px; background-color: #dbdad2; margin-top: -20px;}
.header-title { margin-left: auto; margin-right: auto; width: 240px; text-align: center;}
.quick-links { margin-left: auto; margin-right: auto; width: 210px; }
.quick-links ul li { list-style: none; text-align: right; }